
    <nav class="navbar navbar-light navbar-expand sticky-top bg-light navigation-clean-search" href="#">
        <div class="container"><a class="navbar-brand" href="/">Simple Car Tracking</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                </form>{{#if adminAccess}}
<a class="btn btn-primary ml-auto" role="button" href="/console/admin" style="margin-right: 25px;">Admin</a>
{{/if}}<a class="btn btn-primary" role="button" href="/console">Console</a></div>
        </div>
    </nav>
    <div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="fas fa-lock"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="username" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a></form>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
